* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
    color: #ffffff;

    font-family: 'Arial', 'sans-serif';
    overflow-x: hidden;
    overflow-y: hidden;

}

/* shared */
#ide,
#main {
    display: flex;
}



/* main */
#main {
    height: 100vh;
    margin-left: 10rem;
    width: 100%;
    z-index: 0;

    align-items: center;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#main h1 {
    font-size: 6rem;
}

/* #first-name {
    animation: slide-in 1s ease-out 0s both;
}

#last-name {
    animation: slide-in 1s ease-out 1s both;
}

#title {
    animation: slide-in 1s ease-out 2s both;
}

@keyframes slide-in {
    0% {
        margin-left: -50rem;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        margin-left: 10rem;
        opacity: 1;
    }
} */

#main p {
    margin-top: 2rem;
}

/* ide */
#ide-body-menu,
#ide-nav-menu {
    background-color: #343746;
    border: #ffffff 1px solid;
    padding: 0.5rem;
    width: 12rem;
    z-index: 100;

    position: absolute;
}

#ide-body-menu:hover,
#ide-nav-menu:hover {
    cursor: pointer;
}

#ide {
    /* border-radius needs to be after box shadow */
    -webkit-box-shadow: 0px 0px 5px 1px rgba(40, 40, 40, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(40, 40, 40, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(40, 40, 40, 0.75);
    border-radius: 5px 0 0 5px;

    height: 80vh;
    right: -40rem;
    top: 7.5rem;
    width: 60rem;
    z-index: 1;

    flex-direction: row;
    position: absolute;
    transition: 0.5s ease-in-out;
}

#ide:hover,
#ide-body-menu:hover~#ide,
#ide-nav-menu:hover~#ide {
    right: 0;
}

#ide-nav {
    background-color: #21222C;
    color: #ffffff;
    width: 15rem;

    border-radius: inherit;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#ide-nav-heading {
    padding: 0.5rem;
}

.small-text {
    font-size: 0.8em;
}

.ide-nav-item {
    padding: 0.5rem 0rem;

    display: flex;
    border: inherit solid 1px;
}

.ide-nav-item:hover {
    background-color: #343644;

    cursor: pointer;
}

.ide-nav-item>i {
    padding: 0rem 0.5rem;
}

#ide-body {
    background-color: #191A21;
    color: #ffffff;
    padding: 1rem;
    position: relative;
    width: 45rem;

    font-family: 'Cascadia Code', 'sans-serif';
}

#ide-body::selection {
    background: #ffffff40;
}

#ide-body::-moz-selection {
    background: #ffffff40;
}

#cli-anchor {
    height: 10rem;
    
}

#cli {
    color: #ffffff;
    height: 5rem;
    width: 60rem;
    z-index: 3;

    position: absolute;
}

#cli-header {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.73);

    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#close-cli {
    cursor: pointer;
}

#cli-body {
    background: rgba(0, 0, 0, 0.73);
    border-radius: 3px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    height: 100%;
    padding-left: 1rem;

    font-family: 'Cascadia Code', 'sans-serif';
}


/* footer */
footer>* {
    bottom: 1.75rem;
    font-size: 0.75rem;

    position: absolute;
}

#created-by {
    right: 2.5rem;
}

#copyright {
    left: 2.5rem;
}